@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;900&display=swap');

#logo {
  max-width: 100px;
  width: 100px;
  height: auto;
  position: relative;
  left: 42%;
  text-align: center;
  z-index: 10000;
  padding-top: 10px;
  padding-bottom: 10px;
}

#logo:hover {
  animation: spin 0.75s 1 ease-in-out;
}

#content {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 660px;
}

#content a {
  color: black;
  text-decoration: none;
}

#middle:hover a {
  color: #A50C0E;
}

#middle {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  height: 100px;
  line-height: 100px;
  margin: auto;
}

#loaderbox {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: inline-block;
}

#loader img {
  width: 100px
}

#loader {
  width: 150px;
  height: 150px;   
  border-top: 6px solid #A50C0E;
  border-left: 6px solid #A50C0E;
  border-radius: 50%;
  animation: 1s spin linear infinite;
  position: relative;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
} 

#loader::before, #loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  margin: 0;
  border: 0;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
}

#loader::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: black;
  border-left-color: black;
  animation: spin 2s linear infinite;
}

#loader::after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: #A50C0E;
  border-left-color: #A50C0E;
  animation: spin 3s linear infinite;
}
 
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}  

.boxcontainers {
  background: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.upper {
  width: 217px;
  display: inline-block;
  transform: perspective(0) translateZ(0); 
  position: relative;
  background: black;
  font-family: 'Montserrat';
  font-weight: 900;
  color: #A50C0E;
  text-transform: uppercase;
  text-align: center;
  line-height: 150px;
  font-size: 1.5em;  
}

.upper::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #A50C0E;
  transition-property: transform;
  transform: scaleY(0);
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.upper:hover p {
  color: black;
}

.upper:hover::before {
  transform: scaleY(1);  
}

#middle {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(0) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #A50C0E;
  color: black;
  width: 660px;
}

#middle::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: white;
  transition-property: transform;
  transform: scaleX(0);
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

#middle:hover {
  color: #A50C0E;
}

#middle:hover::before {
  transform: scaleX(1);
}

.background {
  background: linear-gradient(90deg, #000000, #A50C0E, #000000);
  background-size: 300% 300%;
  animation: gradient 5s alternate infinite;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#background {
  visibility: hidden;
}

@keyframes gradient {
  0% { background-position: 0%; }
  100% { background-position: 100%; }
}

.explanation {
  font-family: 'Montserrat';
  font-weight: 300;
  text-align: justify;
  hyphens: auto;
  color: white;
  width: 625px;
  padding: 15px;
  display:none;
  margin-top: 2px; 
}

.explanation a {
  color: white !important;
  text-decoration: underline !important;
}

code {
  font-size: 1em;
  white-space: pre;
}

.snippet {
  border-left: 3px dotted #A50C0E;  
}

.upper {
  cursor: pointer;
}